@import url('https://fonts.googleapis.com/css?family=Outfit:400,700');

* {
    color: hsl(218, 44%, 22%); /* Dark blue */
    text-align: center;
    font-family: 'Outfit';
    font-size: 15px;

    box-sizing: border-box;

}

body {
    height: 100vh;
    
    background-color: white; /* Light gray */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

footer {
    margin-top: 16px;
}

.container {
    width: 1024px;
    height: 576px;
    background-color: hsl(212, 45%, 89%); /* Grayish blue */

    box-shadow: 0px 8px 16px hsl(220, 15%, 85%);

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.box1 {
    height: 384px;
    width: 232px;
    
    background-color:white;
    border-radius: 24px;
    box-shadow: 8px 8px 16px hsl(220, 15%, 55%);

}

.box2 {
    width: 200;
    height: auto;
    padding: 16px;

}

.img {
    border-radius: 5%;
}

h6 {
    font-weight: 700;
}

p{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 0.8em;
}
